<section class="">
    <!-- Footer -->
    <footer class="bg-body-tertiary ">
      <!-- Grid container -->
      <div class="container p-4">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase" style="color:rgb(253, 189, 0);">شركة الشرق الأوسط للطاقة الشمسية </h5>
  
            <p>
              شركة الشرق الأوسط للطاقة الشمسية (Middle East Solar) هي شركة متخصصة في مجال الطاقة الشمسية، وتعمل في منطقة الشرق الأوسط. تقدم الشركة حلولًا متكاملة للطاقة الشمسية، بدءًا من تصميم وتوريد وتركيب أنظمة الطاقة الشمسية، وصولاً إلى الصيانة والدعم الفني.
            </p>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">الصفحات</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-body"> الرئيسية</a>
              </li>
              <li>
                <a href="#!" class="text-body"> الأصناف</a>
              </li>
              <li>
                <a href="#!" class="text-body"> المنتجات</a>
              </li>
              <li>
                <a href="#!" class="text-body"> الطلبات</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-0">تواصل معنا</h5>
  
            <ul class="list-unstyled">
              <li>
                <a href="#!" class="text-body"> فيس بوك</a>
              </li>
              <li>
                <a href="#!" class="text-body"> واتس آب</a>
              </li>
              <li>
                <a href="#!" class="text-body"> تلغرام</a>
              </li>
              <li>
                <a href="#!" class="text-body">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </div>
      <!-- Grid container -->
  
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
         جميع الحقوق محفوظة:© 2020
        <a class="text-body " style="color:rgb(253, 189, 0);" href="#">تصميم وتطوير م. ياسمين الجعفر</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>