<div class="container ar" dir="rtl">
    <div class="mechenicaldesgin col-9 mt-4 mb-5 ar">
      <div class="container  hadow-sm p-3 mb-5 bg-body-tertiary rounded" style="margin: 70px;  " >
        <h3>طلب صيانة </h3>
        <hr>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">الاسم</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" >
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">رقم الهاتف</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" >
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">البريد الالكتروني</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <select class="form-select mb-3" aria-label="Default select example">
            <option selected>نوع الجهاز  </option>
            <option value="1">انفرتر</option>
            <option value="2">لوح طاقة</option>
            <option value="3">بطارية </option>
            <option value="4">منظم </option>

          </select>
          <div class="mb-3">
            <label for="formFile" class="form-label">صورة الجهاز</label>
            <input class="form-control" type="file" id="formFile">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">التفاصيل</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mt-4 mb-3 ">إرسال</button> 
    </div>
    </div>
  </div>