<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
              <a class="navbar-brand" href="#">
                <img src="/assets/images/300×300.png" alt="Logo" width="60" height="60" class="d-inline-block align-text-top">
              </a>
            </div>
          </nav>
      <a class="navbar-brand" routerLink="">الشرق الأوسط للطاقة الشمسية</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-6" >
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">الرئيسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products">المنتجات</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              أخرى
            </a>
            <ul class="dropdown-menu" >
              <li><a class="dropdown-item" routerLink="category">الأصناف</a></li>
              <li><a class="dropdown-item" routerLink="mechenicaldesgin">طلب تصميم</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="mentinencedesgin"> طلب صيانة</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="login">تسجيل دخول</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
